@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/*
font-family:'Nunito', serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    font-weight: bold;
}

h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 39px;
    font-weight: bold;
}

body {
    font-family: "Inter", serif;
    align-items: center;
}

.container {
    max-inline-size: 1200px;
    margin: 0 auto;
    padding: 10px;
}

/* Header */
.header {
    position: sticky;
    top: 0;
    background-color: #1177F0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-block-size: 85px;
    /* Reducir la altura mínima */
    padding: 5px 20px;
    /* Reducir el padding */
    z-index: 1000;
}

.menu {
    inline-size: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */

.logo img {
    inline-size: 140px;
    block-size: auto;
    transition: transform 0.3s ease;
}

.logo img:hover {
    transform: scale(1.4);
    /* Hace un pequeño zoom */
}

/* Navbar */
.navbar ul {
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    font-family: "Inter", serif;
    font-size: 14px;
    color: white;
    transition: color 0.3s ease;
    padding: 10px;
}

.navbar ul li a:hover {
    color: black;
}

/* Carrito */
.carrito button {
    background: none;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    left: 100px;
    cursor: pointer;
}

.carrito {
    color: white;
    margin-left: 40%;
}

.carrito-icon {
    color: white;
}

#cartCount {
    padding: 30% 10px;
    padding-top: -50px;
}

/* Modal */
.cart-responsive {
    max-height: 80vh;
    /* Límite de altura */
    overflow-y: auto;
    /* Habilitar scroll si el contenido es muy grande */
}

.cart {
    display: none;
    position: absolute;
    top: 110%;
    right: 20%;
    background: white;
    color: black;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #1177F0;

    table {
        font-family: 'Nunito', serif;

        thead {
            th {
                padding: 1rem;
            }

            border-bottom: 1px solid #1177F0;
        }

        tbody {
            tr {
                padding: 2rem 0;
            }

            td {
                padding: 1rem;
            }

            .precio {
                color: #1177F0;
                font-family: 'Nunito', serif;
                font-weight: bold;
            }

            input {
                width: 6rem;
                background-color: transparent;
                border: 2px solid #1177F0;
                padding: .7rem;
                color: #1177F0;
                font-family: 'Nunito', serif;
                font-weight: bold;
                border-radius: .5rem;

                &:focus,
                &:active {
                    outline: none;
                }
            }

            button {
                border: none;
                width: 3rem;
                height: 3rem;
                background-color: #dc2626;
                color: #f7f8f9;
                border-radius: 10%;
                cursor: pointer;
            }
        }
    }

    tfoot {
        .total {
            padding-left: 22%;
            padding-bottom: 1rem;

            .heading-total {
                color: black;

                span {
                    margin-left: .6rem;
                }
            }

            span {
                color: #1177F0;
                font-weight: bold;
            }
        }

        td {
            button {
                width: 100%;
                background-color: none;
                padding: 1rem;
                border-radius: 10px;
                border: 2px solid #1177F0;
                cursor: pointer;
                color: #404040;
                font-weight: 700;
            }

            #emptyCart:hover {
                background-color: #1177F0;
                color: white;
            }

            #cerrar {
                border-color: #dc2626;
            }

            #cerrar:hover {
                background-color: #dc2626;
                color: white;
            }
        }
    }
}

/* Ocultamos la hamburguesa */
#menu {
    display: none;
}

/* Hamburguesa */
.menu-icon img {
    inline-size: 20px;
    block-size: auto;
    cursor: pointer;
    display: none;
    border-radius: 2px;
}

/* Carrusel de imagenes */
.images {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 57px;
    height: 70vh;
    width: 100%;
    position: relative;
}

.swiper {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.swiper-slide img {
    display: block;
    width: 600px;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}

/* Secciones */
.seccion h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    position: relative;
}

.seccion h1::before,
.seccion h1::after {
    content: "";
    flex: 1;
    height: 3px;
    background-color: #1177F0;
}

.seccion {
    padding-top: 20px;
}

/* Subseccion */
.subseccion h2 {
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.subseccion h2::after {
    content: "";
    flex: 1;
    height: 3px;
    background-color: #1177F0;
}


.contenido-subseccion {
    display: flex;
    padding: 19px;
    align-items: center;
    /* Alinea verticalmente */
    justify-content: center;
    gap: 10%;
    /* Espacio entre mapa y horario */
}

.mapa iframe {
    border-radius: 15px;
    width: 400px;
    /* Ajusta el tamaño del mapa */
    height: 300px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.horario table {
    border-collapse: separate;
    /* Permite espaciar filas */
    border-spacing: 56px 15px;
    /* 56px entre columnas, 5px entre filas */
    width: 100%;
    max-width: 500px;
    /* Ancho de la tabla */
    text-align: center;
}

.contenido-subseccion img {
    width: 250px;
    height: auto;
}

.domicilio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.domicilio p {
    text-align: justify;
    padding: 10px;
    font-family: 'Inter', serif;
    font-size: 16;
    max-width: 600px;
    line-height: 1.5;
}

.domiclio h3 {
    font-family: 'Nunito', serif;
    font-size: 24px;
    margin: 0;
}

.social-container {
    margin: 5% 10%;
    display: flex;
    gap: 15px;
    background-color: white;
    border-radius: 20px;
    border: 3px solid #1177F0;
    /* Definir el borde con color y grosor */
    justify-content: center;
    align-items: center;
    padding: 5%;
    /* Ajuste del padding, si lo deseas */
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    color: #1177F0;
    font-size: 40px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.social-icon i {
    margin-right: 8px;
}

.social-icon span {
    font-size: 12px;
    font-weight: normal;
}

.col-redes {
    display: flex;
    flex-direction: column;
}

.social-icon.facebook:hover {
    background-color: #3b5998;
    color: white;
}

.social-icon.instagram:hover {
    background-color: #e4405f;
    color: white;
}

.social-icon.phone:hover {
    background-color: #25D366;
    color: white;
}

.social-icon.whatsapp {
    background-color: white;
}

.social-icon.whatsapp:hover {
    background-color: #25D366;
    color: white;
}

.social-icon.email:hover {
    background-color: #D44638;
    color: white;
}

/* Estudios */
.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel.dragging {
    scroll-behavior: auto;
}

#estudios .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 35px;
}


.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.wrapper i {
    color: #007bff;
    font-size: 40px;
}

.wrapper #next {
    padding-left: 2%;
}

.wrapper #prev {
    padding-right: 2%;
}

.carousel .card {
    scroll-snap-align: start;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    h3 {
        text-align: center;
        font-family: 'Inter', serif;
        font-size: 20px;
        font-weight: bolder;
        padding-bottom: 2%;
    }

    p {
        font-size: 14px;
        color: #555;
        margin-bottom: 2%;
        max-height: none; /* Permite que crezca según el contenido */
        overflow: visible; /* Evita que se oculte el texto */
        text-overflow: unset; /* No se corta el texto */
        display: block; /* Se muestra sin restricciones */
        white-space: normal;
    }

    h4 {
        color: #1177F0;
        padding-bottom: 2%;
    }

    button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
    }
}

.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 45px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1000;
    opacity: 0;
    animation: fadeInOut 2s ease forwards;
    font-size: 14px;

    &.error {
        background-color: rgb(217, 217, 0);
        color: black;
    }

    &.success {
        background: #4caf50;
        color: #fff;
    }

}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }

    10% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    90% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }
}

/* Responsive */

@media (max-width: 1000px) {

    .navbar {
        display: none;
        position: absolute;
        inset-block-start: 85px;
        inset-inline-start: 0;
        inset-inline-end: 0;
        background-color: #1177F0;
        padding: 15px;
        text-align: center;
        z-index: 20;
    }

    .navbar ul {
        flex-direction: column;
    }

    .navbar ul li {
        padding: 20px;
    }

    .menu-icon img {
        display: block;
    }

    .menu-icon {
        order: 2;
    }

    .carrito {
        order: 1;
    }

    #menu:checked~.navbar {
        display: initial;
    }

    .logo img {
        inline-size: 100px;
    }

    .images {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .swiper {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }

    .rows {
        display: none;
    }

    .swiper-slide img {
        width: 100%;
    }

    .contenido-subseccion {
        flex-direction: column;
        align-items: center;
        /* Centra los elementos */
    }

    .mapa {
        padding-top: 5%;
    }

    .mapa iframe {
        width: 100%;
        max-width: 1000px;
        height: 300px;
    }

    .placeholder {
        padding-top: 10%;
    }

    .domicilio {
        padding-top: 10%;
    }

    .horario {
        padding-top: 10%;
    }

    /* Ajuste del título */
    .card h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    /* Ajuste de la descripción */
    .card .descripcion {
        flex-grow: 1;
        line-height: 1.5;
        word-wrap: break-word;
        overflow: hidden;
        margin-bottom: 15px;
    }

    .card h3 {
        font-size: 1.2rem;
        font-weight: bold;
        margin-top: auto;
        padding-bottom: 10px;
    }

    .btn-add {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: auto;
        /* Empuja el botón hacia abajo */
    }

    #estudios .swiper {
        width: 100%;
        padding: 40px 0;
    }

    .cart {
        padding: 5px;
        right: 1%;

        table {
            thead {
                th {
                    padding: 0%;
                }
            }

            tbody {
                tr {
                    padding: 0rem;
                }

                td {
                    padding: 0rem;
                    font-size: 10px;
                }

            }
        }
    }

    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }

}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }

    .social-container {
        flex-direction: column;
        align-items: center; /* Centra los elementos */
        gap: 10px; /* Reduce el espacio entre los elementos */
    }

    .social-icon {
        width: 100%; /* Opcional: Para que ocupen todo el ancho disponible */
        text-align: center; /* Centra el texto dentro de los botones */
        padding: 15px;
    }
}